@use '../abstracts/variables';

.reservez {

    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: variables.$color-background-primary;
    margin-top: 4px;
    padding: 40px 30px;



    &__titre {

        text-align: center;
        padding: 0 11px;

    }

    &__texte {

        text-align: center;

    }

    &__button {

    width: 218px;
    margin-bottom: 15px;

    }
}



.fonctionnement {

    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    gap: 20px;

    &__liste {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

    }

    &__etapes {

        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 25px;
        height: 69px;
        background-color: variables.$color-background-primary;
        box-shadow: 0 4.01px 15.04px 0 rgba(0,0,0,0.1);

    }

    &__texte {

        font-size: 16px;
        font-weight: 500;

    }

    &__icone {

        color: #7E7E7E;

        &--3 {
            color:#9356DC;
        }

    }

    &__span {

        display: flex;
        align-items: center;
        border-radius: 100px;
        background-color: #9356DC;
        width: 24px;
        height: 24px;
        margin-left: -10px;


    }

    &__numero {

        color: white;
        margin: auto;
        font-weight: 500;

    }

    

}

