@use '../abstracts/variables';

/*section reservez*/

.reservez {

    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: variables.$color-background-primary;
    margin-top: 4px;
    padding: 40px 30px;



    &__titre {

        text-align: center;
        padding: 0 11px;

    }

    &__texte {

        text-align: center;

    }

    &__button {

    width: 218px;
    margin-bottom: 15px;

    }
}

/*section fonctionnement*/

.fonctionnement {

    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    gap: 20px;

    &__titre {

        width: 322px;
        margin-left: auto;
        margin-right: auto;

    }

    &__liste {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 322px;
        margin-left: auto;
        margin-right: auto;

    }

    &__etapes {

        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 25px;
        height: 69px;
        background-color: variables.$color-background-primary;
        box-shadow: 0 4.01px 15.04px 0 rgba(0,0,0,0.1);

    }

    &__texte {

        font-size: 16px;
        font-weight: 500;

    }

    &__icone {

        color: #7E7E7E;

        &--3 {
            color:#9356DC;
        }

    }

    &__span {

        display: flex;
        align-items: center;
        border-radius: 100px;
        background-color: #9356DC;
        width: 24px;
        height: 24px;
        margin-left: -10px;


    }

    &__numero {

        color: white;
        margin: auto;
        font-weight: 500;

    }
}

/*section restaurants*/

.restaurants {

    background-color: variables.$color-background-primary;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    gap: 20px;

    &__titre-section {
        
        width: 100%;
        max-width: 490px;
        margin-left: auto;
        margin-right: auto;

    }

    &__carte {

        position: relative;
        width: 100%;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 4px 15px 0 rgba(0,0,0,0.1);

    }

    &__liste {

        display: flex;
        flex-direction: column;
        gap:15px;
        width: 100%;
        max-width: 490px;
        margin-left: auto;
        margin-right: auto;

    }

    &__decoration {

        position: relative;
        width: 100%;
        height: 200px;
        overflow: hidden;
        border-radius: 15px 15px 0 0;

    }

    &__image {

        object-fit: cover;
        width: 100%;
        height: 100%;

    }

    &__nouveau {

        position: absolute;
        top: 12px;
        right: 12px;
        background-color: variables.$color-decoration;
        color: variables.$color-decoration-texte;
        font-weight: 500;
        font-size: 14px;
        width: 80px;
        height: 29px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__description {

        display: flex;
        justify-content: space-between;
        padding: 10px;

    }

    &__lieux{

        font-size: 17px;

    }

    /*section restaurants mais placement div coeur*/

    &__coeur {

        position: absolute;
        bottom: 12px;
        right: 12px;

    }

}

//*Medias queries*///

@media (min-width:1024px) {

    .fonctionnement {

        padding: 50px 180px;

        &__titre {

            margin: 0;

        }

        &__liste {

            display: flex;
            flex-direction: row;
            gap: 20px;
            width: 100%;

        }

    }

    .restaurants {

        padding: 50px 180px;

        &__titre-section {

            margin: 0;

        }

        &__liste {

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 50px;
            max-width:none;

        }

        &__carte {

            max-width: 490px;
            max-height: 251px;

        }

    }

    .footer {

        flex-direction: row-reverse;
        padding: 30px 25px;

        &__nav {

            display: flex;
            flex-direction: row-reverse;
            gap: 53px;

        }

        &__liste {

            display: flex;
            flex-direction: row;
            gap: 7px;

        }

    }

}

@media (min-width: 768px) and (max-width: 1023px) {

    main {

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        align-items: start;

    }

    .reservez {

        grid-column: 1;
        background-color: variables.$color-background-secondary;
        border-right: 3px solid variables.$color-background-primary;
        width: 100%;
        gap: 64px;

    }

    .fonctionnement {

        grid-column: 2;

    }

    .restaurants {

        grid-column: 1 / -1;

        &__titre-section {

            margin: 0;

        }

        &__liste {

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 50px;
            max-width:none;

        }

        &__carte {

            max-width: 490px;
            max-height: 251px;

        }

    }

    .footer {

        flex-direction: row-reverse;
        padding: 30px 25px;

        &__nav {

            display: flex;
            flex-direction: row-reverse;
            gap: 53px;

        }

        &__liste {

            display: flex;
            flex-direction: row;
            gap: 7px;

        }

    }
    
}

