@use '../abstracts/variables';


// flex direction column depuis le début enfanté par le main

.menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: variables.$color-background-primary;

}

.intro {


    &__image {

        width: 100%;
        height: auto;
        max-height: 270px;
        object-fit: cover;
        display: block;

    }

    &__carte {

        position: relative;
        border-radius: 40px 40px 0 0;
        margin-top: -50px;
        background-color: variables.$color-background-primary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 20px 20px;

    }

    &__titre {

        font-family: variables.$police-logo-titre-restaurants;
        font-size: 28px;
        font-weight: 400;
        line-height: 100%;

    }

}

.etape {

    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 30px 20px 20px;
    animation: balayage 1000ms ease both;

    &--delay-1 { 

        animation-delay: 250ms; 

    }

    &--delay-2 { 

        animation-delay: 500ms; 

    }

    &--delay-3 { 
        
        animation-delay: 800ms; 
    
    }

    &__titre {

        font-size: 16px;
        font-weight: 300;
        position: relative;
        padding-bottom: 8px;

        &::after {

            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 40px;
            background-color: #99E2D0;

        }
    }

    &__liste {

        display: flex;
        flex-direction: column;
        gap: 12px;
        // margin: 0 auto

    }


    &__sous-titre {

        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: padding-right 250ms ease;

    }

    &__infos {

        display: flex;
        justify-content: space-between;

        align-items: center;
        gap: 10px;
        transition: padding-right 250ms ease;

    }

    

    &__description {

        font-size: 15.04px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
        transition: padding-right 250ms ease;

        flex: 1;

    }

    &__prix {

        font-size: 15.04px;
        font-weight: 700;
        transition: transform 250ms ease;

        flex: 0 0 auto;
        white-space: nowrap;

    }

    &__animation {

        position: absolute;
        background-color: #99E2D0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        inset: 0 0 0 auto;
        transform: translateX(100%);
        transition: transform 250ms ease;
        z-index: 0;
    }

    &__icone {

        display: flex;
        position: relative;
        background-color: variables.$color-background-secondary ;
        border-radius: 50%;
        color: #99E2D0;
        font-size: 24px;
        transition: transform 500ms ease;
    }


    &__label {

        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        gap: 3px;
        padding: 15px;
        background-color: variables.$color-background-secondary;
        width: 100%;
        max-width: 634px;
        margin: 0 auto;
        border-radius: 25px;
        height: 72px;
        box-shadow: 0 4.01px 15.04px 0 rgba(0,0,0,0.1);

    }

    &__validation {

        position: absolute;
        inset: 0;
        cursor: pointer;
        opacity: 0;

    }

    
// ====================================
// quand la checkbox est cochée
// ====================================

&__validation:checked {
  // 1) le h3 perd de la place

  ~ .etape__sous-titre {
    padding-right: 115px;
  }

  // 2) la ligne description prend un padding pour simuler etape animation et le prix bouge de 60px vers la gauche
  ~ .etape__infos {
    .etape__description {
      padding-right: 60px;
    }

    .etape__prix {
      transform: translateX(-60px);
    }
  }

  // 3) panneau vert qui revient a sa position d'origine et l'îcone qui prend la rotation
  ~ .etape__animation {
    transform: translateX(0);

    .etape__icone {
      transform: rotate(360deg);
    }
  }
}


}

.commander {

    margin: auto;
    margin-bottom: 40px;

    &__button {

        width: 186px;
        font-size: 16px;
        font-weight: 500;

    }

}

@keyframes balayage {
  from {
    transform: translateX(80px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

