@use '../abstracts/variables';

.menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: variables.$color-background-primary;

}

.intro {

    // position: relative;

    &__image {

        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;

    }

    &__carte {

        position: relative;
        border-radius: 40px 40px 0 0;
        margin-top: -50px;
        background-color: variables.$color-background-primary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 20px 20px;

    }

    &__titre {

        font-family: variables.$police-logo-titre-restaurants;
        font-size: 28px;
        font-weight: 400;
        line-height: 100%;

    }

}

.etape {

    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 30px 20px 20px;

    &__titre {

        font-size: 16px;
        font-weight: 300;
        position: relative;
        padding-bottom: 8px;

        &::after {

            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 40px;
            background-color: #99E2D0;

        }

    }

    &__liste {

        display: flex;
        flex-direction: column;
        gap: 12px;
        // margin: 0 auto

    }

    &__item {

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        padding: 15px;
        background-color: variables.$color-background-secondary;
        width: 100%;
        max-width: 634px;
        border-radius: 25px;
        height: 72px;
        box-shadow: 0 4.01px 15.04px 0 rgba(0,0,0,0.1);

    }

    &__sous-titre {

        font-weight: 500;

    }

    &__infos {

        display: flex;
        justify-content: space-between;

    }

    &__description {

        font-size: 15.04px;

    }

    &__prix {

        font-size: 15.04px;
        font-weight: 700;

    }

}

.commander {

    margin: auto;
    margin-bottom: 40px;

    &__button {

        width: 186px;
        font-size: 16px;
        font-weight: 500;

    }

}

