@use '../abstracts/variables';

html {
    
    box-sizing: border-box;

}



body {

    background-color: variables.$color-background-secondary;
    color: variables.$color-police-principale;
    padding: 0;
    margin: 0;

}

a,
a:visited {

    text-decoration: none;
    color: inherit;

}

ul, 
ol {

    list-style: none;
    margin: 0;
    padding: 0;

}

h2, h3, h4 {

    background-color: transparent;
    margin: 0;

}

p {

    margin: 0;

}