@use '../abstracts/variables';

body {

    font-family: variables.$police-primaire;
    font-weight: 300;

}

h2, h3, h4 {

    font-family: variables.$police-primaire;
    font-weight: 700;
    color: variables.$color-police-principale;
    

}

h1  {

    font-family: variables.$police-logo-titre-restaurants;
    font-weight: 400;
    font-size: 30px;
    color: variables.$color-police-principale;
    
}

h2  {

    font-size: 24px;

}

h3  {

    font-size: 18px;

}

p   {

    font-weight: 300;
    font-size: 18px;

}
