@use '../abstracts/variables';

.footer {

    background-color: #353535;
    color: variables.$color-background-secondary ;
    padding: 20px;
    display: flex;
    flex-direction: column;

    &__logo {

        font-family: variables.$police-logo-titre-restaurants;
        color: variables.$color-background-secondary;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 14px;
    }

    &__liste {

        display: flex;
        flex-direction: column;
        gap: 7px;
        font-size: 16px;
        font-weight: 500;

    }

    &__lien--avec-icone {

        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;

    }

    &__icone--taille {

        font-size: 12.5px;
        text-align: center;

    }

}

