html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #FFFFFF;
  color: #000000;
  padding: 0;
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2, h3, h4 {
  background-color: transparent;
  margin: 0;
}

figure {
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

p {
  margin: 0;
}

body {
  font-family: "Roboto";
  font-weight: 300;
}

h2, h3, h4 {
  font-family: "Roboto";
  font-weight: 700;
  color: #000000;
}

h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p {
  font-weight: 300;
  font-size: 18px;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.header__logo {
  margin: 16px 0;
}
.header__retour {
  position: absolute;
  display: flex;
  align-items: center;
  top: 17px;
  left: 17px;
  width: 30px;
  height: 30px;
}
.header__icone-retour {
  font-size: 22px;
}
.header__localisation {
  width: 100%;
  background-color: #EAEAEA;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.15);
}
.header__localisation-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  padding-left: 30px;
}
.header__localisation-input {
  border: none;
  color: #353535;
  height: 19px;
  font-family: "Roboto";
  font-size: 16px;
  background-color: transparent;
}
.header__localisation-input::placeholder {
  color: #000000;
  font-size: 16px;
}

.footer {
  background-color: #353535;
  color: #FFFFFF;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.footer__logo {
  font-family: "Shrikhand";
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 14px;
}
.footer__liste {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 16px;
  font-weight: 500;
}
.footer__lien--avec-icone {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.footer__icone--taille {
  font-size: 12.5px;
  text-align: center;
}

/*section reservez*/
.reservez {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #F6F6F6;
  margin-top: 4px;
  padding: 40px 30px;
}
.reservez__titre {
  text-align: center;
  padding: 0 11px;
}
.reservez__texte {
  text-align: center;
}
.reservez__button {
  width: 218px;
  margin-bottom: 15px;
}

/*section fonctionnement*/
.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  gap: 20px;
}
.fonctionnement__titre {
  width: 322px;
  margin-left: auto;
  margin-right: auto;
}
.fonctionnement__liste {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 322px;
  margin-left: auto;
  margin-right: auto;
}
.fonctionnement__etapes {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  height: 69px;
  background-color: #F6F6F6;
  box-shadow: 0 4.01px 15.04px 0 rgba(0, 0, 0, 0.1);
}
.fonctionnement__texte {
  font-size: 16px;
  font-weight: 500;
}
.fonctionnement__icone {
  color: #7E7E7E;
}
.fonctionnement__icone--3 {
  color: #9356DC;
}
.fonctionnement__span {
  display: flex;
  align-items: center;
  border-radius: 100px;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  margin-left: -10px;
}
.fonctionnement__numero {
  color: white;
  margin: auto;
  font-weight: 500;
}

/*section restaurants*/
.restaurants {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  gap: 20px;
}
.restaurants__titre-section {
  width: 100%;
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
}
.restaurants__carte {
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}
.restaurants__liste {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
}
.restaurants__decoration {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.restaurants__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.restaurants__nouveau {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #99E2D0;
  color: #008766;
  font-weight: 500;
  font-size: 14px;
  width: 80px;
  height: 29px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.restaurants__description {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.restaurants__lieux {
  font-size: 17px;
}
.restaurants {
  /*section restaurants mais placement div coeur*/
}
.restaurants__coeur {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

@media (min-width: 1024px) {
  .fonctionnement {
    padding: 50px 180px;
  }
  .fonctionnement__titre {
    margin: 0;
  }
  .fonctionnement__liste {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
  }
  .restaurants {
    padding: 50px 180px;
  }
  .restaurants__titre-section {
    margin: 0;
  }
  .restaurants__liste {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
    max-width: none;
  }
  .restaurants__carte {
    max-width: 490px;
    max-height: 251px;
  }
  .footer {
    flex-direction: row-reverse;
    padding: 30px 25px;
  }
  .footer__nav {
    display: flex;
    flex-direction: row-reverse;
    gap: 53px;
  }
  .footer__liste {
    display: flex;
    flex-direction: row;
    gap: 7px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: start;
  }
  .reservez {
    grid-column: 1;
    background-color: #FFFFFF;
    border-right: 3px solid #F6F6F6;
    width: 100%;
    gap: 64px;
  }
  .fonctionnement {
    grid-column: 2;
  }
  .restaurants {
    grid-column: 1/-1;
  }
  .restaurants__titre-section {
    margin: 0;
  }
  .restaurants__liste {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
    max-width: none;
  }
  .restaurants__carte {
    max-width: 490px;
    max-height: 251px;
  }
  .footer {
    flex-direction: row-reverse;
    padding: 30px 25px;
  }
  .footer__nav {
    display: flex;
    flex-direction: row-reverse;
    gap: 53px;
  }
  .footer__liste {
    display: flex;
    flex-direction: row;
    gap: 7px;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #F6F6F6;
}

.intro__image {
  width: 100%;
  height: auto;
  max-height: 270px;
  object-fit: cover;
  display: block;
}
.intro__carte {
  position: relative;
  border-radius: 40px 40px 0 0;
  margin-top: -50px;
  background-color: #F6F6F6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 20px;
}
.intro__titre {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 400;
  line-height: 100%;
}

.etape {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 30px 20px 20px;
  animation: balayage 1000ms ease both;
}
.etape--delay-1 {
  animation-delay: 250ms;
}
.etape--delay-2 {
  animation-delay: 500ms;
}
.etape--delay-3 {
  animation-delay: 800ms;
}
.etape__titre {
  font-size: 16px;
  font-weight: 300;
  position: relative;
  padding-bottom: 8px;
}
.etape__titre::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
}
.etape__liste {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.etape__sous-titre {
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: padding-right 250ms ease;
}
.etape__infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  transition: padding-right 250ms ease;
}
.etape__description {
  font-size: 15.04px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  transition: padding-right 250ms ease;
}
.etape__prix {
  font-size: 15.04px;
  font-weight: 700;
  transition: transform 250ms ease;
  white-space: nowrap;
}
.etape__animation {
  position: absolute;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  inset: 0 0 0 auto;
  transform: translateX(100%);
  transition: transform 250ms ease;
  z-index: 0;
}
.etape__icone {
  display: flex;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 50%;
  color: #99E2D0;
  font-size: 24px;
  transition: transform 500ms ease;
}
.etape__label {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  gap: 3px;
  padding: 15px;
  background-color: #FFFFFF;
  width: 100%;
  max-width: 634px;
  margin: 0 auto;
  border-radius: 25px;
  height: 72px;
  box-shadow: 0 4.01px 15.04px 0 rgba(0, 0, 0, 0.1);
}
.etape__clic {
  position: absolute;
  inset: 0;
  cursor: pointer;
}
.etape__validation {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
}
.etape__validation:checked ~ .etape__sous-titre {
  padding-right: 115px;
}
.etape__validation:checked ~ .etape__infos .etape__description {
  padding-right: 60px;
}
.etape__validation:checked ~ .etape__infos .etape__prix {
  transform: translateX(-60px);
}
.etape__validation:checked ~ .etape__animation {
  transform: translateX(0);
}
.etape__validation:checked ~ .etape__animation .etape__icone {
  transform: rotate(360deg);
}

.commander {
  margin: auto;
  margin-bottom: 40px;
}
.commander__button {
  width: 186px;
  font-size: 16px;
  font-weight: 500;
}

@keyframes balayage {
  from {
    transform: translateX(80px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .intro {
    width: 100%;
  }
  .intro__carte {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
  }
  .etape {
    width: 100%;
  }
  .restaurants__liste {
    gap: 20px;
  }
}
@media (min-width: 1024px) {
  .menu {
    width: 80%;
    margin: 0 auto;
  }
  .intro__image {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    max-height: 383px;
  }
  .intro__carte {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
  }
  .intro__titre {
    text-align: center;
    margin: 0;
  }
  .intro__header {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
  }
  .etape {
    margin: 0 auto;
    padding: 20px 0;
  }
  .etape__titre {
    width: 683px;
  }
  .etape__label {
    margin: 0;
  }
}
.cta {
  border-radius: 25px;
  height: 50px;
  border: none;
  color: white;
  font-family: "Roboto";
  font-size: 16px;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  margin: 0 auto;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: opacity 500ms ease, box-shadow 500ms ease;
}
.cta:hover {
  opacity: 0.85;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);
}

.coeurbtn {
  width: 22px;
  height: 21px;
  position: relative;
}

.coeurbtn__chekbox {
  position: absolute;
  inset: 0;
  opacity: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.coeuricon {
  font-size: 20px;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 750ms ease;
  pointer-events: none;
}
.coeuricon--plein {
  background: linear-gradient(180deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
}
.coeuricon--vide {
  color: #000000;
  opacity: 1;
}

.coeurbtn__chekbox:checked ~ .coeuricon--plein {
  opacity: 1;
}

.coeurbtn__chekbox:checked ~ .coeuricon--vide {
  opacity: 0;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 999;
  animation: loader-masque 5700ms forwards;
}
.loader__barre {
  width: 15px;
  height: 100px;
  animation: barres 1000ms backwards infinite ease-in-out alternate, couleurs 3000ms linear infinite;
}
.loader__barre--1 {
  animation-delay: 166.6666666667ms, -200ms;
}
.loader__barre--2 {
  animation-delay: 333.3333333333ms, -400ms;
}
.loader__barre--3 {
  animation-delay: 500ms, -600ms;
}
.loader__barre--4 {
  animation-delay: 666.6666666667ms, -800ms;
}
.loader__barre--5 {
  animation-delay: 833.3333333333ms, -1000ms;
}
.loader__barre--6 {
  animation-delay: 1000ms, -1200ms;
}

@keyframes barres {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes couleurs {
  0% {
    background-color: #FF79DA;
  }
  33% {
    background-color: #9356DC;
  }
  66% {
    background-color: #99E2D0;
  }
  100% {
    background-color: #FF79DA;
  }
}
@keyframes loader-masque {
  0%, 80% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
