@use '../abstracts/variables';


// bouton call to action pour découvrez nos restaurants (home) et commander (restaurants XXX)************************************************************************

.cta {

    border-radius: 25px;
    height: 50px;
    border: none;
    color:white;
    font-family: variables.$police-primaire;
    font-size: 16px;
    background: linear-gradient(180deg, variables.$color-bouton-clair, variables.$color-bouton-foncé);
    margin: 0 auto;
    // margin-left: auto;
    // margin-right: auto;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: opacity 500ms ease, box-shadow 500ms ease;

    &:hover {

        opacity: 0.85;
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);

    }

}

// composant du : bouton coeur favoris******************************************************************************************************************************

.coeurbtn {                     // <--- containeur pour icône font awesome

    width: 22px;
    height: 21px;
    position: relative;

}

.coeurbtn__chekbox {

    position: absolute;
    inset: 0;
    opacity: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.coeuricon { //propriétés communnes a vide ou plein

    font-size: 20px;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 750ms ease;
    pointer-events: none;


    &--plein { //propriétés exclusives plein

        background: linear-gradient(180deg,variables.$color-bouton-foncé,variables.$color-bouton-clair);
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
    }

    &--vide { //propriétés exclusives vide

        color: variables.$color-police-principale;
        opacity: 1;

    }

}

.coeurbtn__chekbox:checked ~ .coeuricon--plein { //propriétés exclusives plein & coché

    opacity: 1;

}

.coeurbtn__chekbox:checked ~ .coeuricon--vide { //propriétés exclusives vide & coché

    opacity: 0;

}

// composants du: loader *******************************************************************************************************************

.loader {

    position: fixed;
    height: 100%;
    width: 100%;
    background-color: variables.$color-background-secondary;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25%;
    z-index: 999;
    animation: loader-masque 5700ms forwards;

    &__barre {

        width: 15px;
        height: 100px;
        animation: barres 1000ms backwards infinite ease-in-out alternate, couleurs 3000ms linear infinite;
        @for $i from 1 through 6 {
            &--#{$i} {
                animation-delay: variables.$anim-delay * $i, -(200ms * $i);
            }
        }
    
        // &--couleur1 {

        //     background-color: variables.$color-bouton-clair;

        // }

        // &--couleur2 {

        //     background-color: variables.$color-bouton-foncé;

        // }

        // &--couleur3 {

        //     background-color: variables.$color-decoration;

        // }
    }    
}

//keyframes ----

//--------Augmente et rétrécit les barres du loader-------//

@keyframes barres {

    0% {

        transform: scaleY(0.5);

    }

    100% {

        transform: scaleY(1);

    }

}

//prépare le dégradé de couleurs

@keyframes couleurs {
  0%   { background-color: variables.$color-bouton-clair; }
  33%  { background-color: variables.$color-bouton-foncé; }
  66%  { background-color: variables.$color-decoration; }
  100% { background-color: variables.$color-bouton-clair; }
}


//-------fait disparaitre le loader---------//

@keyframes loader-masque {

    0%, 80% {

        opacity: 1;
        visibility: visible;

    }

    100% {

        opacity: 0;
        visibility: hidden;

    }

}

