// --------- Couleurs fond ---------

$color-background-primary:#F6F6F6;
$color-background-secondary: #FFFFFF;

// --------- Couleurs boutons pour dégradé ---------

$color-bouton-clair: #FF79DA;
$color-bouton-foncé: #9356DC;

// --------- Couleurs décoration ---------

$color-decoration: #99E2D0;
$color-decoration-texte:#008766;

// --------- Couleurs police ---------
$color-police-principale: #000000;

// --------- form couleur formulaire ---------
$color-fond-formulaire: #EAEAEA;

// --------- logo et nom restaurants police ---------
$police-logo-titre-restaurants: 'Shrikhand';
$police-primaire: 'Roboto';

//valeur anim-delay a utiliser dans la variable des barres &__barre

$anim-delay: 1000ms / 6;
